LoginPage.css

  .login-container {
    width: 50%;
    max-width: 400px;
    text-align: center;
    margin-top: 200px;
  }
  .login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-box h2 {
    margin-bottom: 15px;
  }
  
  .login-box form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .login-box form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-box p {
    margin-top: 10px;
  }
  